[req]
default_bits       = 2048
prompt             = no
encrypt_key        = no
default_md         = sha256
distinguished_name = dn

[dn]
CN           = broker
OU           = ARGE
O            = BARIKAT A.S
L            = CANKAYA
ST           = ANKARA
C            = TR
emailAddress = arge@barikat.com.tr 
